In [89]:
import pandas as pd
from datetime import datetime

In [90]:
file_path_Automobiletn_Neuf = r'C:\Users\TP\Desktop\CarPricePredictorInTunisia\Data\Automobiletn_Neuf_Data.csv'
file_path_Automobiletn_Occasion = r'C:\Users\TP\Desktop\CarPricePredictorInTunisia\Data\Automobiletn_Occasion_Data.csv'
file_path_Tayara = r'C:\Users\TP\Desktop\CarPricePredictorInTunisia\Data\cleaned_vehicle_data.csv'
file_path_resultat = r'C:\Users\TP\Desktop\CarPricePredictorInTunisia\Data\CleanedData2.csv'

df_Auto_Neuf = pd.read_csv(file_path_Automobiletn_Neuf)
df_Auto_occa = pd.read_csv(file_path_Automobiletn_Occasion)
df_Tayara = pd.read_csv(file_path_Tayara)

In [91]:
#small clean

df_Tayara = df_Tayara[df_Tayara['Kilométrage'] >= 1000]
df_Tayara['Cylindrée'] = df_Tayara['Cylindrée']*1000
print(df_Tayara)

      Price  Kilométrage Boite vitesse    year  Cylindrée       Brand  \
0     37500      43000.0   automatique  2015.0     1200.0         Kia
1     27000      95000.0      manuelle  2019.0     4000.0     Citroen
2     39700      84200.0      manuelle  2021.0     1200.0  Volkswagen
4     38000     142000.0      manuelle  2021.0     1300.0        Fiat
5     58000      84000.0      manuelle  2019.0     1500.0     Renault
...     ...          ...           ...     ...        ...         ...
3322  38000     144900.0   automatique  2012.0     3000.0   Ssangyong
3323  50000     112500.0      manuelle  2012.0     1600.0      Autres
3324  18000     199000.0      manuelle  2002.0     2400.0     Peugeot
3325  35000     299000.0      manuelle  2013.0     1600.0     Citroen
3326  40000      30200.0      manuelle  2022.0     1200.0  Mitsubishi

         Model  power  Energie
0      Picanto    5.0  essence
1     C-Elysée    5.0  essence
2         Polo    4.0  essence
4      Fiorino    5.0   diesel
5       Megane    5.0   diesel
...        ...    ...      ...
3322     Kyron   10.0   diesel
3323    Autres    7.0  essence
3324       206    4.0  essence
3325        C4    5.0   diesel
3326    Canter    4.0  essence

[2740 rows x 9 columns]

In [92]:
df_Auto_Neuf['Kilométrage'] = 0
df_Auto_Neuf['Age'] = 0

In [93]:
#convertire Mise en circulation en Age
print(df_Auto_occa['Mise en circulation'][:10])

df_Auto_occa['Mise en circulation'] = df_Auto_occa['Mise en circulation'].astype(str)

df_Auto_occa = df_Auto_occa[df_Auto_occa['Mise en circulation'].str.match(r'^\d{1,2}\.\d{4}$')]

df_Auto_occa['Mise en circulation']= pd.to_datetime(df_Auto_occa['Mise en circulation'], format='%m.%Y')

print("--------")

print(df_Auto_occa['Mise en circulation'][:10])

df_Auto_occa.rename(columns={'Mise en circulation': 'Age'}, inplace=True)
df_Auto_occa['Age'] = (pd.to_datetime('today') - df_Auto_occa['Age']).dt.days // 365
print("--------")
print(df_Auto_occa['Age'][:10])

0     7.2011
1     6.1998
2    12.2011
3     1.2017
4    11.2019
5    11.2012
6     5.2021
7     1.2020
8     5.2015
9     4.2022
Name: Mise en circulation, dtype: float64
--------
0    2011-07-01
1    1998-06-01
2    2011-12-01
3    2017-01-01
4    2019-11-01
5    2012-11-01
6    2021-05-01
8    2015-05-01
9    2022-04-01
10   2022-01-01
Name: Mise en circulation, dtype: datetime64[ns]
--------
0     13
1     26
2     13
3      7
4      5
5     12
6      3
8      9
9      2
10     2
Name: Age, dtype: int64

In [94]:
print(df_Tayara['year'])

current_year = datetime.now().year  # Get the current year (2024)

# Subtract each year in the 'year' column from the current year
df_Tayara['Age'] = current_year - df_Tayara['year']

# Print the new 'age' column
print(df_Tayara[['Age']])

print(df_Tayara['Age'].dtype)

0       2015.0
1       2019.0
2       2021.0
4       2021.0
5       2019.0
         ...
3322    2012.0
3323    2012.0
3324    2002.0
3325    2013.0
3326    2022.0
Name: year, Length: 2740, dtype: float64
       Age
0      9.0
1      5.0
2      3.0
4      3.0
5      5.0
...    ...
3322  12.0
3323  12.0
3324  22.0
3325  11.0
3326   2.0

[2740 rows x 1 columns]
float64

In [95]:
print(df_Auto_Neuf.columns)
print("------")
print(df_Auto_occa.columns)
print("------")
print(df_Tayara .columns)

Index(['Brand', 'Model', 'Price', '0-100 Km/h', '4 roues directrices', 'ABS',
       'Accoudoirs', 'Affichage tête haute', 'Aide au démarrage en côte',
       'Aide au maintien dans la voie',
       ...
       'Vitres électriques', 'Voiture populaire', 'Volant', 'Volant réglable',
       'Volume du coffre', 'Volume du coffre avant',
       'Volume du coffre maximal', 'Volume utile', 'Kilométrage', 'Age'],
      dtype='object', length=157)
------
Index(['Brand', 'Model', 'Price', 'Boite vitesse', 'Carrosserie',
       'Couleur extérieure', 'Couleur intérieure', 'Cylindrée', 'Gouvernorat',
       'Génération', 'Kilométrage', 'Age', 'Moteur', 'Nombre de places',
       'Nombre de portes', 'Puissance', 'Puissance cumulée',
       'Puissance fiscale', 'Puissance thermique', 'Sellerie', 'Transmission',
       'Énergie'],
      dtype='object')
------
Index(['Price', 'Kilométrage', 'Boite vitesse', 'year', 'Cylindrée', 'Brand',
       'Model', 'power', 'Energie', 'Age'],
      dtype='object')

In [96]:
df_Auto_occa.rename(columns={'Énergie': 'Energie'}, inplace=True)
df_Auto_Neuf.rename(columns={'Boîte': 'Boite vitesse'}, inplace=True)
df_Tayara.rename(columns={'power': 'Puissance fiscale'}, inplace=True)

In [97]:
df_Auto_Neuf.drop(df_Auto_Neuf.columns.difference(['Brand', 'Model', 'Price', 'Boite vitesse', 'Cylindrée',
'Energie','Puissance fiscale','Kilométrage', 'Age']),axis=1, inplace=True)
df_Auto_occa.drop(df_Auto_occa.columns.difference(['Brand', 'Model', 'Price', 'Boite vitesse', 'Cylindrée',
'Energie','Puissance fiscale','Kilométrage', 'Age']),axis=1, inplace=True)
df_Tayara.drop(df_Tayara.columns.difference(['Brand', 'Model', 'Price', 'Boite vitesse', 'Cylindrée',
'Energie','Puissance fiscale','Kilométrage', 'Age']),axis=1, inplace=True)

In [98]:
print(df_Auto_occa.shape)
print("----------")
print(df_Auto_Neuf.shape)
print("----------")
print(df_Tayara.shape)

(1757, 9)
----------
(449, 9)
----------
(2740, 9)

In [99]:
df_concat = pd.concat([df_Auto_Neuf,df_Auto_occa])
df_concat = pd.concat([df_concat,df_Tayara])

df_concat = df_concat.reset_index(drop=True)

print(df_concat)

           Brand         Model         Price Boite vitesse Cylindrée  Energie  \
0     alfa-romeo        giulia  198 000DTTTC   Automatique   1995CM³  Essence
1     alfa-romeo       stelvio  265 000DTTTC   Automatique   1995CM³  Essence
2           audi  a3-sportback  145 000DTTTC   Automatique   1395CM³  Essence
3           audi    a3-berline  149 000DTTTC   Automatique   1395CM³  Essence
4           audi            a4  198 000DTTTC   Automatique   1984CM³  Essence
...          ...           ...           ...           ...       ...      ...
4941   Ssangyong         Kyron         38000   automatique    3000.0   diesel
4942      Autres        Autres         50000      manuelle    1600.0  essence
4943     Peugeot           206         18000      manuelle    2400.0  essence
4944     Citroen            C4         35000      manuelle    1600.0   diesel
4945  Mitsubishi        Canter         40000      manuelle    1200.0  essence

     Puissance fiscale Kilométrage   Age
0                 11CV           0   0.0
1                 17CV           0   0.0
2                  8CV           0   0.0
3                  8CV           0   0.0
4                  8CV           0   0.0
...                ...         ...   ...
4941              10.0    144900.0  12.0
4942               7.0    112500.0  12.0
4943               4.0    199000.0  22.0
4944               5.0    299000.0  11.0
4945               4.0     30200.0   2.0

[4946 rows x 9 columns]

In [100]:
df_concat.drop_duplicates()

,Brand,Model,Price,Boite vitesse,Cylindrée,Energie,Puissance fiscale,Kilométrage,Age
0,alfa-romeo,giulia,198 000DTTTC,Automatique,1995CM³,Essence,11CV,0,0.0
1,alfa-romeo,stelvio,265 000DTTTC,Automatique,1995CM³,Essence,17CV,0,0.0
2,audi,a3-sportback,145 000DTTTC,Automatique,1395CM³,Essence,8CV,0,0.0
3,audi,a3-berline,149 000DTTTC,Automatique,1395CM³,Essence,8CV,0,0.0
4,audi,a4,198 000DTTTC,Automatique,1984CM³,Essence,8CV,0,0.0
...,...,...,...,...,...,...,...,...,...
4941,Ssangyong,Kyron,38000,automatique,3000.0,diesel,10.0,144900.0,12.0
4942,Autres,Autres,50000,manuelle,1600.0,essence,7.0,112500.0,12.0
4943,Peugeot,206,18000,manuelle,2400.0,essence,4.0,199000.0,22.0
4944,Citroen,C4,35000,manuelle,1600.0,diesel,5.0,299000.0,11.0
4945,Mitsubishi,Canter,40000,manuelle,1200.0,essence,4.0,30200.0,2.0

In [101]:
#we work on price
df_concat['Price'] = df_concat['Price'].replace({r'DTTTC': '', r'DT': '', r' ': ''}, regex=True)
df_concat['Price'] = pd.to_numeric(df_concat['Price'], errors='coerce')
df_concat['Price'] = df_concat['Price'].astype(int)/1000
df_concat = df_concat[df_concat['Price'] > 0].dropna(subset=['Price'])

print(df_concat['Price'].head())

0    198.0
1    265.0
2    145.0
3    149.0
4    198.0
Name: Price, dtype: float64

In [102]:
df_concat['Cylindrée'] = df_concat['Cylindrée'].replace({r'cm³': '', r'CM³': '', r'\s': ''}, regex=True)
df_concat['Cylindrée'] = pd.to_numeric(df_concat['Cylindrée'], errors='coerce')
df_concat = df_concat[df_concat['Cylindrée'].notna() & (df_concat['Cylindrée'] != 0)]
df_concat['Cylindrée'] = df_concat['Cylindrée'].astype(float)/1000

print(df_concat['Cylindrée'])

0       1.995
1       1.995
2       1.395
3       1.395
4       1.984
        ...
4941    3.000
4942    1.600
4943    2.400
4944    1.600
4945    1.200
Name: Cylindrée, Length: 4854, dtype: float64

In [103]:
# Step 1: Ensure 'Puissance fiscale' has no non-digit characters and clean the data
df_concat['Puissance fiscale'] = df_concat['Puissance fiscale'].apply(lambda x: str(int(x)) if isinstance(x, (int, float)) else x)
df_concat['Puissance fiscale'] = df_concat['Puissance fiscale'].str.replace(r'\D', '', regex=True)
print(df_concat['Puissance fiscale'])

df_concat = df_concat[df_concat['Puissance fiscale'].str.strip() != '']

df_concat['Puissance fiscale'] = pd.to_numeric(df_concat['Puissance fiscale'], errors='coerce')

df_concat = df_concat.dropna(subset=['Puissance fiscale'])


df_concat['Puissance fiscale'] = df_concat['Puissance fiscale'].astype(int)

print(df_concat['Puissance fiscale'][:10])
print("type of 'Puissance fiscale' is", df_concat['Puissance fiscale'].dtype)

0       11
1       17
2        8
3        8
4        8
        ..
4941    10
4942     7
4943     4
4944     5
4945     4
Name: Puissance fiscale, Length: 4854, dtype: object
0    11
1    17
2     8
3     8
4     8
5    11
6     8
7     9
8     9
9    16
Name: Puissance fiscale, dtype: int32
type of 'Puissance fiscale' is int32

In [104]:
df_concat['Kilométrage'] = df_concat['Kilométrage'].replace({r'km': '', r',': ''}, regex=True)

df_concat['Kilométrage'] = pd.to_numeric(df_concat['Kilométrage'], errors='coerce')
df_concat['Kilométrage'].fillna(0, inplace=True)
df_concat['Kilométrage'] = df_concat['Kilométrage'].astype(int)/1000

print(df_concat['Kilométrage'][443:454])
print('------')
print(df_concat['Kilométrage'].dtype)

478     94.0
479     89.0
480    111.0
481    170.0
482    125.0
483    300.0
484     70.0
485    132.0
486    143.0
487     78.0
488    144.0
Name: Kilométrage, dtype: float64
------
float64

In [105]:
print(df_concat)

           Brand         Model  Price Boite vitesse  Cylindrée  Energie  \
0     alfa-romeo        giulia  198.0   Automatique      1.995  Essence
1     alfa-romeo       stelvio  265.0   Automatique      1.995  Essence
2           audi  a3-sportback  145.0   Automatique      1.395  Essence
3           audi    a3-berline  149.0   Automatique      1.395  Essence
4           audi            a4  198.0   Automatique      1.984  Essence
...          ...           ...    ...           ...        ...      ...
4941   Ssangyong         Kyron   38.0   automatique      3.000   diesel
4942      Autres        Autres   50.0      manuelle      1.600  essence
4943     Peugeot           206   18.0      manuelle      2.400  essence
4944     Citroen            C4   35.0      manuelle      1.600   diesel
4945  Mitsubishi        Canter   40.0      manuelle      1.200  essence

      Puissance fiscale  Kilométrage   Age
0                    11          0.0   0.0
1                    17          0.0   0.0
2                     8          0.0   0.0
3                     8          0.0   0.0
4                     8          0.0   0.0
...                 ...          ...   ...
4941                 10        144.9  12.0
4942                  7        112.5  12.0
4943                  4        199.0  22.0
4944                  5        299.0  11.0
4945                  4         30.2   2.0

[4854 rows x 9 columns]

In [106]:
# work on Boite vitesse + encoding
invalid_rows = df_concat[df_concat['Boite vitesse'].isna()]
print("Rows with empty or invalid 'Boite vitesse' (NaN): ", len(invalid_rows))
df_concat = df_concat.dropna(subset=['Boite vitesse'])
unique_values = df_concat['Boite vitesse'].unique()
print(unique_values)
print("-----")

aut = df_concat['Boite vitesse'].value_counts().get('Automatique', 0)
aut = aut+df_concat['Boite vitesse'].value_counts().get('automatique', 0)
man = df_concat['Boite vitesse'].value_counts().get('Manuelle', 0)
man = man + df_concat['Boite vitesse'].value_counts().get('manuelle', 0)
print("Manuelle: ",man, " || ","Automatic: ", aut)
print("-------")

df_concat['Boite vitesse'] = df_concat['Boite vitesse'].replace({'automatique': True, 'manuelle': False})
df_concat['Boite vitesse'] = df_concat['Boite vitesse'].replace({'Automatique': True, 'Manuelle': False})
print(df_concat['Boite vitesse'])
print("type of Boite vitesse is",df_concat['Boite vitesse'].dtype)

Rows with empty or invalid 'Boite vitesse' (NaN):  0
['Automatique' 'Manuelle' 'automatique' 'manuelle']
-----
Manuelle:  2797  ||  Automatic:  2057
-------
0        True
1        True
2        True
3        True
4        True
        ...
4941     True
4942    False
4943    False
4944    False
4945    False
Name: Boite vitesse, Length: 4854, dtype: bool
type of Boite vitesse is bool

In [107]:
# work on Energie + encoding
print(df_concat['Energie'].unique())
print("--------")

# Define the mapping dictionary
energy_mapping = {
    'Essence': 'Essence',
    'Essence | Hybride léger': 'Hybrid Essence',
    'Electrique': 'Electrique',
    'Essence | Hybride rechargeable': 'Hybrid Essence',
    'Diesel': 'Diesel',
    'Essence | Hybride': 'Hybrid Essence',
    'Diesel | Hybride léger': 'Hybrid Diesel',
    'Hybride rechargeable essence': 'Hybrid Essence',
    'Hybride essence': 'Hybrid Essence',
    'Hybride diesel': 'Hybrid Diesel',
    'Hybride rechargeable diesel': 'Hybrid Diesel',
    'hybride': 'Hybrid',
    'diesel': 'Diesel',
    'essence': 'Essence',
}

df_concat['Energie'] = df_concat['Energie'].map(energy_mapping)

print(df_concat['Energie'].unique())
print("-------")

# Create new columns based on the 'Energie' values
df_concat['Essence'] = df_concat['Energie'].apply(lambda x: True if 'Essence' in x else False)
df_concat['Diesel'] = df_concat['Energie'].apply(lambda x: True if 'Diesel' in x else False)
df_concat['Electric'] = df_concat['Energie'].apply(lambda x: True if ('Electric' in x or 'Hybrid' in x) else False)


# Check the results
print(df_concat[['Energie', 'Essence', 'Diesel', 'Electric']])
df_concat = df_concat.drop('Energie', axis=1)

['Essence' 'Essence | Hybride léger' 'Essence | Hybride rechargeable'
 'Diesel' 'Essence | Hybride' 'Diesel | Hybride léger'
 'Hybride rechargeable essence' 'Hybride essence' 'Hybride diesel'
 'Hybride rechargeable diesel' 'Electrique' 'essence' 'diesel' 'hybride']
--------
['Essence' 'Hybrid Essence' 'Diesel' 'Hybrid Diesel' 'Electrique' 'Hybrid']
-------
      Energie  Essence  Diesel  Electric
0     Essence     True   False     False
1     Essence     True   False     False
2     Essence     True   False     False
3     Essence     True   False     False
4     Essence     True   False     False
...       ...      ...     ...       ...
4941   Diesel    False    True     False
4942  Essence     True   False     False
4943  Essence     True   False     False
4944   Diesel    False    True     False
4945  Essence     True   False     False

[4854 rows x 4 columns]

In [108]:
def format_brand_model(brand):
    brand = brand.lower()
    # Split by spaces and handle each word
    formatted = "_".join([word.capitalize() for word in brand.split(' ')])
    formatted = "_".join([word.capitalize() for word in formatted.split('-')])
    formatted = "_".join([word.capitalize() for word in formatted.split('_')])
    return formatted

In [109]:
#we work on Brand
df_concat['Brand'] = df_concat['Brand'].apply(format_brand_model)

print(df_concat['Brand'][:10])

print("Type of Brand is:", df_concat['Brand'].dtype)

0    Alfa_Romeo
1    Alfa_Romeo
2          Audi
3          Audi
4          Audi
5          Audi
6          Audi
7          Audi
8          Audi
9          Audi
Name: Brand, dtype: object
Type of Brand is: object

In [110]:
#we work on Model
df_concat['Model'] = df_concat['Model'].apply(format_brand_model)

print(df_concat['Model'][:10])

print("Type of Model is:", df_concat['Model'].dtype)

0          Giulia
1         Stelvio
2    A3_Sportback
3      A3_Berline
4              A4
5              A6
6              Q2
7              Q3
8    Q3_Sportback
9              Q7
Name: Model, dtype: object
Type of Model is: object

In [111]:
print(df_concat[443:452])

       Brand           Model  Price  Boite vitesse  Cylindrée  \
478  Citroën              C3   41.0           True      1.198
479    Honda            City   49.5           True      1.498
480      Kia         Picanto   41.9           True      1.198
481     Fiat             500   26.0          False      1.289
482   Nissan            Juke   48.5           True      1.598
483     Fiat           Siena   18.5          False      1.398
484     Seat         Leon_Sc   49.5          False      1.198
485     Jeep  Grand_Cherokee  180.0           True      3.598
486      Kia          Rio_5p   40.9          False      1.242

     Puissance fiscale  Kilométrage   Age  Essence  Diesel  Electric
478                  6         94.0   7.0     True   False     False
479                  7         89.0   3.0     True   False     False
480                  5        111.0   5.0     True   False     False
481                  4        170.0  13.0     True   False     False
482                  7        125.0   9.0     True   False     False
483                  5        300.0  20.0     True   False     False
484                  6         70.0   8.0     True   False     False
485                 20        132.0   8.0     True   False     False
486                  5        143.0   8.0     True   False     False

In [112]:
print(df_concat.dtypes)

Brand                 object
Model                 object
Price                float64
Boite vitesse           bool
Cylindrée            float64
Puissance fiscale      int32
Kilométrage          float64
Age                  float64
Essence                 bool
Diesel                  bool
Electric                bool
dtype: object

In [113]:
print(df_concat)

           Brand         Model  Price  Boite vitesse  Cylindrée  \
0     Alfa_Romeo        Giulia  198.0           True      1.995
1     Alfa_Romeo       Stelvio  265.0           True      1.995
2           Audi  A3_Sportback  145.0           True      1.395
3           Audi    A3_Berline  149.0           True      1.395
4           Audi            A4  198.0           True      1.984
...          ...           ...    ...            ...        ...
4941   Ssangyong         Kyron   38.0           True      3.000
4942      Autres        Autres   50.0          False      1.600
4943     Peugeot           206   18.0          False      2.400
4944     Citroen            C4   35.0          False      1.600
4945  Mitsubishi        Canter   40.0          False      1.200

      Puissance fiscale  Kilométrage   Age  Essence  Diesel  Electric
0                    11          0.0   0.0     True   False     False
1                    17          0.0   0.0     True   False     False
2                     8          0.0   0.0     True   False     False
3                     8          0.0   0.0     True   False     False
4                     8          0.0   0.0     True   False     False
...                 ...          ...   ...      ...     ...       ...
4941                 10        144.9  12.0    False    True     False
4942                  7        112.5  12.0     True   False     False
4943                  4        199.0  22.0     True   False     False
4944                  5        299.0  11.0    False    True     False
4945                  4         30.2   2.0     True   False     False

[4854 rows x 11 columns]

In [114]:
# Save the DataFrame back to the same CSV, overwriting the original file
#df_concat.to_csv(file_path_resultat, index=False)